<p><%=t('mailer.notification.body')%></p>	
<br />

<%=@notification.environment.project.name%> <br />
<br /><br />
<b><%=t('model.environment')%>:</b> <br />
<%=@notification.environment.name%>
<br /><br />
<b><%=t('attributes.notification_type')%>:</b> <br />
<%=@notification.notification_type%>
<br /><br />
<b>Stack Trace:</b> <br />
<%=@notification.message%>
<br /><br />
<b>Browser info:</b> <br />
<p><b>App code name:</b> <%=@notification.browser_info.app_code_name%></p>
<p><b>App name:</b> <%=@notification.browser_info.app_name%></p>
<p><b>App version:</b> <%=@notification.browser_info.app_version%></p>
<p><b>Cookie enabled:</b> <%=@notification.browser_info.cookie_enabled%></p>
<p><b>Hardware Concurrency:</b> <%=@notification.browser_info.hardware_concurrency%></p>
<p><b>Language:</b> <%=@notification.browser_info.language%></p>
<p><b>Mime Types:</b> <%=@notification.browser_info.mime_types%></p>
<p><b>Online:</b> <%=@notification.browser_info.online%></p>
<p><b>Platform:</b> <%=@notification.browser_info.platform%></p>
<p><b>Plugins:</b> <%=@notification.browser_info.plugins%></p>
<p><b>Product:</b> <%=@notification.browser_info.product%></p>
<p><b>Product sub:</b> <%=@notification.browser_info.product_sub%></p>
<p><b>User agent:</b> <%=@notification.browser_info.user_agent%></p>
<p><b>Vendor:</b> <%=@notification.browser_info.vendor%></p>
<p><b>Vendor sub:</b> <%=@notification.browser_info.vendor_sub%></p>