<h3>
	<%=t('title.project.list')%>
</h3>
<hr />
<div class="col-sm-3 col-md-3">
	<div class="thumbnail add-project" align="center">
		<%= link_to t('form.new'), new_project_path%>
	</div>
</div>
<% @projects.each do |project| %>
<div class="col-sm-3 col-md-3">
	
	<%= link_to project_environment_path(project, project.environment), class: "show-project" do %>
		<div class="thumbnail project-item">
			<%= project.name%> <br/>
			<% project.environments.limit(3).each do |env| %>
				<div class="env-data">
					<span class="env-name"><%=env.name%></span>
					<span class="pull-right last-update">
						<%= last_update_to(env) %>
					</span>
				</div>
			<% end %>
		</div>
	<% end %>
	
</div>
<% end %>