<div id="project-show">
	<h3>
		<%= best_in_place @project, :name%>
	</h3>

	<hr />
	
	<!-- notifications -->
	<div>
		<h5><%=t('title.notifications')%></h5>
		<ul class="notifications">
			<% @project.notifications.order(id: :desc).each do |notification| %>
			<li>
				<span class="badge badge-<%=notification.notification_type%>"><%=notification.notification_type%></span>
				<%=link_to notification.url, notification.url, class: 'url'%>
				<span class="updated-at"><%=l notification.updated_at, format: :long%></span>
				<%=link_to "+ Info", project_notification_path(@project, notification), remote: true, class: "more-info"%>
			</li>
			<% end %>
		</ul>
	</div>
	
	<!-- users -->
	<hr />
	<div>
		<h5><%=t('title.users')%></h5>
		
		<ul class="notifications">
			<% @project.users.each do |user| %>
			<li>
				<%=user.email%>
			</li>
			<% end %>
			<li>
				<%= form_for [@project, User.new] do |f| %>
					<%= f.email_field :email, placeholder: t('form.invite_user'), class: 'invite-user' %>
				<% end %>
			</li>
		</ul>
	</div>
	
	<!-- setup -->
	<hr />
	<div>
		<h5>Setup</h5>
		<p class="setup">
			<%=t('messages.setup')%>
		</p>
		
		<div class="well well-lg">
			(function(){
				var js=document.createElement("script");js.type="text/javascript"; 
				js.src="https://www.warnmybug.com/assets/wmb/wmb.js";
				document.head.appendChild(js);
				js.onreadystatechange=js.onload=function(){wmb.track('<%=@project.uid%>');};	
			})();
		</div>
	</div>
</div>