<div id="project-show">
	<h3>
		<%= best_in_place @project, :name%>
		<div class="dropdown pull-right">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    <%=@environment.name%>
		    <span class="caret"></span>
		  </button>
			<!-- TODO -->
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <!--li role="separator" class="divider"></li-->
				<li><a href="#">New env</a></li>
		  </ul>
		</div>
	</h3>
	
	<hr />
	
	<!-- notifications -->
	<div>
		<h5><%=t('title.notifications')%></h5>
		<ul class="notifications">
			<% @environment.notifications.order(id: :desc).each do |notification| %>
			<li>
				<span class="badge badge-<%=notification.notification_type%>"><%=notification.notification_type%></span>
				<%=link_to notification.url, notification.url, class: 'url'%>
				<span class="updated-at"><%=l notification.updated_at, format: :long%></span>
				<%=link_to "+ Info", project_environment_notification_path(@project, @environment, notification),
					 remote: true, class: "more-info"%>
			</li>
			<% end %>
		</ul>
	</div>
	
	<!-- users -->
	<hr />
	<div>
		<h5><%=t('title.users')%></h5>
		
		<ul class="notifications">
			<% @project.users.each do |user| %>
			<li>
				<%=user.email%>
			</li>
			<% end %>
			<li>
				<%= form_for [@project, User.new] do |f| %>
					<%= f.email_field :email, placeholder: t('form.invite_user'), class: 'invite-user' %>
				<% end %>
			</li>
		</ul>
	</div>
	
	<!-- setup -->
	<hr />
	<div class='row'>
		<div class='col-sm-6'>
			<h5><%=t('title.env_preferences')%></h5>
			<p>
				<%=form_for([@project, @environment, @environment.environment_preference]) do |f| %>
					<br />
					<b>Track</b> <br /><br />
					
					<%=f.check_box :log %> <%=f.label :log%><br />
					
					<%=f.check_box :warn %> <%=f.label :warn%><br />
					
					<%=f.check_box :error %> <%=f.label :error%><br />
					
					<br />
					<%=f.submit t('form.save'), class: 'btn btn-default'%>

				<% end %>
			</p>
		
			
		</div>
	
		<div class='col-sm-6'>
			<h5><%=t('title.my_preferences')%></h5>
			<br />
			<%=form_for([@project, @environment, current_user.preference(@environment.id)]) do |f| %>
				<b><%=t('title.notification_preference')%></b> <br /><br />
				
				<%=f.check_box :email %> <%=f.label :email%><br />
				
				<br /><br /><br /><br />
				
				<%=f.submit t('form.save'), class: 'btn btn-default'%>

			<% end %>
		
		
		</div>
	</div>
	
	
	<!-- setup -->
	<div class="clear-both"></div>
	<hr />
	<div>
		<h5>Setup</h5>
		<p class="setup">
			<%=t('messages.setup')%>
		</p>
		
		<div class="well well-lg">
			(function(){
				var js=document.createElement("script");js.type="text/javascript"; 
				js.src="https://www.warnmybug.com/assets/wmb/wmb.js";
				document.head.appendChild(js);
				js.onreadystatechange=js.onload=function(){wmb.track('<%=@environment.uid%>');};	
			})();
		</div>
	</div>
</div>